.p-svg {
	&__path {
		fill: #fffac5;
		stroke: #fffac5;
		stroke-dasharray: 2000;
		stroke-dashoffset: 0;
		stroke-width: 1;
		-webkit-animation: hello 4s ease-in 0s;
		animation: hello 4s ease-in 0s;
	}
	&__path2 {
		fill: #fffac5;
		stroke: #fffac5;
		stroke-dasharray: 2000;
		stroke-dashoffset: 0;
		stroke-width: 1;
		-webkit-animation: hello 8s ease-in 0s;
		animation: hello 8s ease-in 0s;
	}
}
@-webkit-keyframes hello {
	0% {
		stroke-dashoffset: 2000;
		fill: transparent;
	}
	40% {
		stroke-dashoffset: 2000;
		fill: transparent;
	}
	50% {
		fill: transparent;
	}
	100% {
		stroke-dashoffset: 0;
		fill: #fffac5;
	}
  }
